<!-- <div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
 -->
 <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Start Game</h4>
      </div>
      <div ng-if="vm.step == 2">
        <div class="modal-body">
        <div class= "row">
         <div class="col-md-6">
           <div class="form-group">
              <label for="sel1">Rows:</label>
              <select ng-model="game.rows" class="form-control" id="row">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
           <div class="form-group">
              <label for="sel1">Columns:</label>
              <select ng-model="game.columns" class="form-control" id="column">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
              </select>
            </div>
          </div>
        </div>
        <div class= "row">
         <div class="col-md-4">
           <div class="form-group">
              <label for="sel1">Maximum Players:</label>
              <select ng-model="game.maxPlayers" class="form-control" id="maxPlayers">
                <option value="2">2</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
           <div class="form-group">
              <label for="sel1">Minimum Players:</label>
              <select ng-model="game.minPlayers" class="form-control" id="minPlayers">
                <option value="2">2</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
           <div class="form-group">
              <label for="sel1">Block Time</label>
              <select ng-model="game.blockTime" class="form-control" id="blockTime">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
          </div>
        </div>
        </div>      
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="vm.createGame(game)" data-dismiss="modal">Start</button>
        </div>
      </div>
      <div ng-if="vm.step == 1">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-9">
              <div class="form-group">
                <label for="user">Username:</label>
                <input type="text" class="form-control" id="User" ng-model="userName">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="vm.createUser(userName)">Next</button>
        </div>
      </div>
    </div>
    
  </div>
</div>

 <div id="myModal2" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Start Game</h4>
      </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-9">
              <div class="form-group">
                <label for="user">Username:</label>
                <input type="text" class="form-control" id="User" ng-model="userName">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.register(userName, vm.selectedGame)">Next</button>
        </div>      
    </div>    
  </div>
</div>


 <div class="row">
  <div class="col-md-12">
   <div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
        <th>Started</th>
        <th>Board Size</th>
        <th>Max Players</th>
        <th>Min Players</th>
        <th># of Players</th>
        <th>Block Time</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-click="vm.selectGame(game.id)" ng-repeat="game in vm.games" data-toggle="modal" data-target="#myModal2">
        <td><div ng-if="game.startTime">{{vm.moment(game.startTime).fromNow()}}</div><div ng-hide="game.startTime">Not yet started</div></td>
        <td>{{game.rows}} X {{game.columns}}</td>
        <td>{{game.maxPlayers}}</td>
        <td>{{game.minPlayers}}</td>
        <td>{{game.players.length}}</td>
        <td>{{game.blockTime}} seconds</td>
      </tr>
    </tbody>
  </table>
  </div>
  <button type="button" class="btn btn-primary active" data-toggle="modal" data-target="#myModal">Start New Game</button>
 </div>